{% extends "base.html" %}
{% block content %}

<table cellpadding="4" cellspacing="0" border="1">
    <tr>
        <th>Date</th><th>Miles</th>
        <th>Gallons</th><th>Price</th>
        <th>Mileage</th><th>Edit</th>
    </tr>
    {% for record in recentHistory %}
        <tr>
            <td>{{ record.date }}</td><td>{{ record.miles }}</td>
            <td>{{ record.gallons }}</td><td>{{ record.price }}</td>
            <td>{{ record.mileage }} </td><td><a href="/edit/{{ record.date.strftime("%Y_%m_%d_%H_%M_%S") }}">Edit</a></td>
        </tr>   
    {% endfor %}
</table>

{% endblock %}
