{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<table cellpadding="4" cellspacing="0" border="1">
    <tr>
        <th>Date</th><th>Miles</th>
        <th>Gallons</th><th>Price</th>
        <th>Mileage</th>
    </tr>
    {% for record in recentHistory %}
        <tr>
            <td>{{ record.date.date() }}</td><td>{{ record.miles }}</td>
            <td>{{ record.gallons }}</td><td>{{ record.price }}</td>
            <td>{{ record.mileage }} </td>
        </tr>   
    {% endfor %}
</table>
